body {

}

input.nomargb {
  margin-bottom: 0px;
}


td.add {
  background-color: #EFF0F2 !important;
}

table.font-big th, td {
  font-size: 18px;
}

ul.buttonlist {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
}

ul.buttonlist li {
  margin-bottom: 10px;
  list-style: none none;
}

.table th, .table td {
  vertical-align: middle;
}

.dk_container {
  margin-bottom: 0px; 
}

.navbar .nav > li > a {
  padding: 20px 10px;
}

.dk_options_inner {
  
}

.notfound {
  color: red;
}


.button {
  font-size: 16.5px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 4px;
  color: #fff;
  transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3498DB;
}

.button.disabled {
  background-color: #bdc3c7;
}

.wecker, .schedule {
	cursor: pointer;
}

.wecker:hover, .schedule:hover {
	background-color: #2980B9;
}

.wecker.disabled:hover, .schedule.disabled:hover {
	background-color: #415b76;
}

.status {
	display: inline-block;
	padding-top: 13px;
  padding-bottom: 12px;
	float: right;
	font-weight: 700;
  font-size: 20px;
}

.button_text, .button_on, .button_off, .button_time {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 12px;
  color: #fff;
}


.button_text{
    min-width: 100px;
}

.button_on, .button_off {
  float: right;
  min-width: 55px;
  max-width: 100px;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  background-color: #2980B9;
}

.button_off {
  margin-left:10px;
}

.button_off:hover , .button_on:hover{
  background-color: #bdc3c7;
  color: #415b76;
}


select {
	cursor: pointer;
	font-size: 16px;
	background-color: #3498DB;
	border-radius: 6px;
	color: white;
	margin-bottom: 0px;
}

/* =================== Customize Flat UI ==================== */
/* Navbar */

.navbar-inverse{
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: #3498DB;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #3498DB;  
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
 color: #3498DB;
}

/* input Border */
.form-group.focus .form-control, .form-control:focus{
  border-color :#2980B9;
} 

/* Select */
.dropdown-inverse li.active > a, .dropdown-inverse li.selected > a,.dropdown-menu li.active > a:hover, .dropdown-menu li.selected > a:hover, .dropdown-menu li.active > a.highlighted:hover, .dropdown-menu li.selected > a.highlighted:hover, .dropdown-menu li.active > a:focus, .dropdown-menu li.selected > a:focus, .dropdown-menu li.active > a.highlighted:focus, .dropdown-menu li.selected > a.highlighted:focus{
  background: #3498DB;
}

/* Buttons */
.btn.btn-primary:hover, .btn.btn-primary:focus{
  background-color: #2980B9;
}

.btn.btn-primary{
  background-color: #3498DB;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
  background: #3498DB;
  border: none;

}
/* Checkbox */

.checkbox, .radio{
  font-weight:normal;
}

.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #3498DB;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.checkbox.checked,
.radio.checked {
  color: #3498DB;
}

/* error validation */
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}


/* music */

.playlist a {
	color: #333;
	text-decoration: none;
	padding: 5px;
	display: block;
  font-size: 14px;
}

.playlist a.remove{
  background-color: #d2322d;
  border-color: #ac2925;
  border-radius: 4px;
  text-align:center;
  color: #fff;
  
}

.playlist a.remove:hover{
  color: #ffffff;
  background-color: #ec7063;
  border-color: #ec7063;
}

.playlist li.list-group-item{
	padding: 0;
}


.playlist {
	height: 350px;
	overflow: hidden;
	overflow-y: scroll;
	margin-top: 20px;
	margin-bottom: 10px;
}

.ajaxOutput * {
	margin-right: 30px;
	display: none;
}

a {
color: #428bca;

}